{% extends "layout.html" %}
{% block content %}
    
        <div class="top-view" >
            <div class="hero" style="background-image: url(../static/rco.png);background-repeat: no-repeat;background-position: center;background-size: cover;">
              
              <div class="text1 container"data-aos="zoom-in-up" data-aos-duration="1000">
                <h1 style="text-align: center;font-size: 3em;">ABOUT US</h1>
                <p class="dash" style="width: 10em;"></p>
                <p class="demo">C.U.B.E is VIT's first and the only cubing club that was established in the year 2019. Our aim is to provide a platform for 
                    students who are into speedcubing and give them the opportunity to get better and give recognition to one of the most underrated talents 
                    of rubiks cube solving! With a team of over 50+ members with 4 domains, we work on organising cubing events on various scales!
                </p>
              </div>
              <div class="main-down-arrow" id="down-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.55 44.393">
                <g id="Group_2" data-name="Group 2" transform="translate(-966 -967.48)">
                    <path id="Path_2" data-name="Path 2" d="M966.813,997.8l13.973,13.577L994.363,997.8" transform="translate(-0.313)" fill="none" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                </g>
                </svg>
            </div>
            </div>
          </div>
       
        <div class="container main" style="margin: 8em auto;" id="arrow" >
            <div class="flex1">
                <div class="desc" style="width: 500px;height: 300px;;background-color: grey;" data-aos-duration="1000" data-aos="fade-right"></div>
                <div class="desc" data-aos-duration="1000" data-aos="fade-left">
                    <h1>OUR MISSION</h1>
                    <p class="dash" style="width: 15em;"></p>
                    <p style="text-align: justify;margin-top: 1em;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                </div>
            </div>

        </div>
        <div class="container" style="margin: 8em auto;" >
            <div class="flex1">
                <div class="desc" data-aos-duration="1000" data-aos="fade-right">
                    <h1>OUR VISION</h1>
                    <p class="dash" style="width: 15em;"></p>
                    <p style="text-align: justify;margin-top: 1em;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.</p>
                </div>
                <div class="desc" style="width: 500px;height: 300px;;background-color: grey;" data-aos-duration="1000" data-aos="fade-left"></div>
             
            </div>

        </div>
    </div>
{% endblock content %}