{% extends "layout.html" %}
{% block content %}
    
        <div class="top-view" >
            <div class="hero" style="background-image: url(../static/rco.png);background-repeat: no-repeat;background-position: center;background-size: cover;">
              
              <div class="text1 container"data-aos="zoom-in-up" data-aos-duration="1000">
                <h1 >ABOUT US</h1>
                <p class="dash" style="width: 10em;"></p>
                <p class="demo">C.U.B.E is VIT's first and the only cubing club that was established in the year 2019. Our aim is to provide a platform for 
                    students who are into speedcubing and give them the opportunity to get better and give recognition to one of the most underrated talents 
                    of rubiks cube solving! With a team of over 50+ members with 4 domains, we work on organising cubing events on various scales!
                </p>
              </div>
              <div class="main-down-arrow" id="down-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.55 44.393">
                <g id="Group_2" data-name="Group 2" transform="translate(-966 -967.48)">
                    <path id="Path_2" data-name="Path 2" d="M966.813,997.8l13.973,13.577L994.363,997.8" transform="translate(-0.313)" fill="none" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                </g>
                </svg>
            </div>
            </div>
          </div>
       
        <div class="container main"  id="arrow" >
            <div class="flex1">
                <div class="desc " style="border-radius:5px" data-aos-duration="1000" data-aos="fade-right">
                    <img src="../static/mission.jpeg">
                </div>
                <div class="desc text" data-aos-duration="1000" data-aos="fade-left">
                    <h1>OUR MISSION</h1>
                    <p class="dash" style="width: 15em;"></p>
                    <p style="text-align: justify;margin-top: 1em;">Our Mission is to spread the art of Rubik’s Cube solving among people in a social and comfortable way, and therefore our range is from people who never solved the cube, to those who can solve it blindfolded. To create a union of all like minded people to share and learn knowledge and improve themselves. 

                    </p>
                </div>
            </div>

        </div>
        <div class="container" >
            <div class="flex1">
                <div class="desc text" data-aos-duration="1000" data-aos="fade-right">
                    <h1>OUR VISION</h1>
                    <p class="dash" style="width: 15em;"></p>
                    <p style="text-align: justify;margin-top: 1em;">The Vision of this club is to see more number of individuals getting involved in the art of Rubik’s cube solving. To give students a new talent that will help them enhance their creativity. We work on creating a group of talented speedcubers to uplift this not very known talent to a greater level
                        </p>
                </div>
                <div class="desc" style="border-radius:5px;" data-aos-duration="1000" data-aos="fade-left">
                    <img src="../static/vision.jpeg">
                </div>
             
            </div>

        </div>
    </div>
{% endblock content %}