{% extends "layout.html" %}
    {% block content %}
    <div class="top-view" >
        <div class="hero" style="background-image: url(../static/event.png);background-repeat: no-repeat;background-position: center;background-size: cover;">
          
          <div class="text1 container"data-aos="zoom-in-up" data-aos-duration="1000">
            <h1 style="text-align: center;font-size: 3em;">EVENTS</h1>
            <p class="dash" style="width: 10em;"></p>
            <p class="demo">C.U.B.E VIT successfully managed to organise 2 cubing competitions and released 2 video series. 
                We have planned to conduct a number of events in order to empower our goals and provide the best we can to the cubing community!
            </p>
          </div>
          <div class="main-down-arrow" id="down-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.55 44.393">
            <g id="Group_2" data-name="Group 2" transform="translate(-966 -967.48)">
                <path id="Path_2" data-name="Path 2" d="M966.813,997.8l13.973,13.577L994.363,997.8" transform="translate(-0.313)" fill="none" stroke="#ccc" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
            </g>
            </svg>
        </div>
        </div>
      </div>
      <div class="container main" style="margin: 4em auto;" id="arrow" >
          <div data-aos="zoom-in-up" data-aos-duration="1000" >
          <h1 style="font-weight: 600;font-size: 3em;margin-bottom: 2px;">OUR EVENTS</h1>
          <p class="dash"></p>
          <div class="event">
              <div class="col-lg-4 justify-content-center " style="margin-top: 20px;min-width: 250px;">
                <div class="card">
                    <div class="image">
                      <img src="../static/cu.png"/>
                    </div>
                    <div class="details">
                      <div class="center">
                        <h1>CUBE UNLEASHED 1.0</h1>
                        <p>Cube Unleashed 1.0 is a national level online cubing competitions consisting of 4 WCA events!</p>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 justify-content-center" style="margin-top: 20px;">
                <div class="card">
                    <div class="image">
                      <img src="../static/rcop.png"/>
                    </div>
                    <div class="details">
                      <div class="center">
                        <h1>RIVIERA CUBE OPEN</h1>
                        <p>Riviera Cube Open is an intra VIT cubing competition conducted by CUBE VIT during Riviera.</p>
                        
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 justify-content-center" style="margin-top: 20px;" >
                <div class="card">
                    <div class="image">
                      <img src="../static/ctak.png"/>
                    </div>
                    <div class="details">
                      <div class="center">
                        <h1>CUBING TALKS EP-1</h1>
                        <p>In episode 1 of Cubing Talks, we interviewed Akshaansh Chilakpati (4x4 NR-8), and asked him about his experience and journey </p>
                        
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="event" >
                <div class=" col-lg-4 justify-content-center" style="margin-top: 20px;" >
                    <div class="card">
                        <div class="image">
                          <img src="../static/ct.png"/>
                        </div>
                        <div class="details">
                          <div class="center">
                            <h1>CUBING TALKS EP-2</h1>
                            <p>In episode 2 of cubing talks we interviewed Aryan Chabbra (3x3 NR-1). Got some tips from the champion!</p>
                            
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class=" col-lg-4 justify-content-center" style="margin-top: 20px;" >
                    <div class="card">
                        <div class="image">
                          <img src="../static/ctns.png"/>
                        </div>
                        <div class="details">
                          <div class="center">
                            <h1>CUBING TALKS EP-3</h1>
                            <p>In episode 3 we interviewed Nikhil Soares (Megaminx NR-1). He shares his experience and records in various competitions</p>
                            
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class=" col-lg-4 justify-content-center" style="margin-top: 20px;" >
                    <div class="card">
                        <div class="image">
                          <img src="../static/sr.png"/>
                        </div>
                        <div class="details">
                          <div class="center">
                            <h1>CUBING TALKS EP-4</h1>
                            <p>In episode 4 of cubing talks we interviewed Sheldon Rego (6x6 and 7x7 NR-1). Hear some tips from the big cube champion!</p>
                          
                          </div>
                        </div>
                      </div>
                  </div>
                
            </div>
            <div class="event" >
              <div class=" col-lg-4 justify-content-center" style="margin-top: 20px;" >
                <div class="card">
                    <div class="image">
                      <img src="../static/ss.png"/>
                    </div>
                    <div class="details">
                      <div class="center">
                        <h1>SUNDAY SOLVES</h1>
                        <p>A short series of 5 episodes of example solves intended to enhance cubing skills of other fellow mates </p>
                        
                      </div>
                    </div>
                  </div>
              </div>
                 
          </div>
              
          </div>
      </div>
    {% endblock content %}