<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!--Css Doodle-->
    <script src="https://unpkg.com/css-doodle@0.8.5/css-doodle.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    {{fontawesome_html()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/formvalidation/dist/css/formValidation.min.css">
     <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <link rel="icon" href="{{ url_for('static', filename='cubetitle.png') }}" sizes="96x96" type="image/png">
     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% if title %}
        <title>C.U.B.E VIT - {{ title }}</title>
    {% else %}
        <title>C.U.B.E VIT</title>
    {% endif %}
    
    
</head>
<body>
      <div id="preloader">
        <div class="rubiks-loader">
          <div class="cube">
            <!-- base position -->
            <div class="face front piece row-top    col-left   yellow"></div>
            <div class="face front piece row-top    col-center green "></div>
            <div class="face front piece row-top    col-right  white "></div>
            <div class="face front piece row-center col-left   blue  "></div>
            <div class="face front piece row-center col-center green "></div>
            <div class="face front piece row-center col-right  blue  "></div>
            <div class="face front piece row-bottom col-left   green "></div>
            <div class="face front piece row-bottom col-center yellow"></div>
            <div class="face front piece row-bottom col-right  red   "></div>
        
            <!-- first step: E', equator inverted -->
            <div class="face down  piece row-top    col-center green "></div>
            <div class="face down  piece row-center col-center red   "></div>
            <div class="face down  piece row-bottom col-center white "></div>
        
            <!-- second step: M, middle -->
            <div class="face right piece row-center col-left   yellow"></div>
            <div class="face right piece row-center col-center green "></div>
            <div class="face right piece row-center col-right  blue  "></div>
        
            <!-- third step: L, left -->
            <div class="face up    piece row-top    col-left   yellow"></div>
            <div class="face up    piece row-center col-left   blue  "></div>
            <div class="face up    piece row-bottom col-left   green "></div>
        
            <!-- fourth step: D, down -->
            <div class="face left  piece row-bottom col-left   green "></div>
            <div class="face left  piece row-bottom col-center yellow"></div>
            <div class="face left  piece row-bottom col-right  red   "></div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top lappy" >
        <div class="container-fluid">
          <a class="navbar-brand mr-8" href="/" style="padding-top: 0px;padding-bottom: 0px;"><img src="{{url_for('static',filename='cubelogo.png')}}" width="80px" height="35px"></a>
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
             
            </div>
           
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About Us</a>
              <a class="nav-item nav-link" href="{{ url_for('team') }}">Team</a>
              <a class="nav-item nav-link" href="{{ url_for('event') }}">Events</a>
              <a class="nav-item nav-link" href="{{ url_for('contform') }}">Contact Us</a>
            </div>
            
          </div>
          
        </div>
      </nav>
      
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top phone">
        <div class="container">
          
            <a class="navbar-brand mr-8" href="/" style="padding-top: 0px;padding-bottom: 0px;"><img src="{{url_for('static',filename='cubelogo.png')}}" width="80px" height="35px"></a>
          <button id="burger" class="open-main-nav" onclick="showNav()">
            <span class="burger"></span>
            
          </button>
          
          
          <nav class="main-nav " id="main-nav">
            <ul>
              <li>
                <a href="{{ url_for('home') }}">Home</a>
              </li>
              <li>
                <a href="{{ url_for('about') }}">About</a>
              </li>
              <li>
                <a href="{{ url_for('team') }}">Team</a>
              </li>
              <li>
                <a href="{{ url_for('event') }}">Events</a>
              </li>
              <li>
                <a href="{{ url_for('contform') }}">Contact</a>
              </li>
            </ul>
          </div>
         
        </nav>
   
    {% block content %}
    {% endblock content %}
    <footer id="contact" data-aos="zoom-in" data-aos-duration="1000">
        <div class="container footer">
          <ul class="footer">
            <h2>CONTACT US</h2>
            <p class="dash" style="width: 13em;"></p>
           
            <div style="margin-bottom: 1.5em;margin-top: 2em;">
              <a href="{{url_for('contform')}}"><button class="btn" style="background-color: rgb(96, 86, 158);color:white" >Send Message</button></a>
            </div>
            <div class="links" style="display: flex;justify-content: center;">
              
              <a href="https://www.facebook.com/c.u.b.e.VITclub"><i class="fa fa-facebook-square fa-lg" aria-hidden="true" style="background: #3B5998"></i></a>
              <a href="https://www.instagram.com/c.u.b.e_vit/"><i class="fa fa-instagram fa-lg" aria-hidden="true" style="background:#ec3434eb;"></i></a>
              <a href="https://www.linkedin.com/company/c-u-b-e-vit/"><i class="fa fa-linkedin fa-lg" aria-hidden="true" style="background:#007bb5 ;"></i></a>
              <a href="https://www.youtube.com/channel/UCs3Xm3u_hXLxnGcYzEIALcA"><i class="fa fa-youtube fa-lg" aria-hidden="true" style="background: #bb0000"></i></a>
              
            </div>
           <div style="margin-top: 1em;">
              <h6 style="color: white;"><i class="fa fa-copyright fa-lg" aria-hidden="true"></i> 2020 | C.U.B.E VIT | All rights reserved </h6>
           </div>
           <div>
             <p>Made with <i class="fa fa-heart" aria-hidden="true" style="color:red;padding: 5px;"></i> by C.U.B.E VIT - <a href="https://in.linkedin.com/in/samarth-nehe-a0b9b519b" style="color: rgb(96, 86, 158);">Samarth Nehe</a></p>
           </div>
          </ul>
        </div>
      </footer>
     
       
     
      
  
  
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
    
      <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
      <script src="{{ url_for('static', filename='main.js') }}"></script>
      <script src="{{ url_for('static', filename='main1.js') }}"></script>
      <script>
     
          function showNav(){
            
            document.getElementById('burger').classList.toggle('is-open');
            document.getElementById('main-nav').classList.toggle('is-open');
        }
          
         
      </script>
      <script>
        $(function () {
        setTimeout(function () {
          $('#preloader').fadeOut('slow', function () {
            $(this).remove();
          });
        }, 2000);
      });
      </script>
      </body>
  </html>